@using Business.ViewModels.Admin.Product
@model ProductUpdateVM


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Update Product</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="update" asp-controller="Product" method="post">

                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name"></input>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input class="form-control" asp-for="Price"></input>
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input class="form-control" asp-for="Quantity"></input>
                    <span asp-validation-for="Quantity"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input class="form-control" asp-for="Photo"></input>
                    <span asp-validation-for="Photo"></span>
                </div>

                <select asp-for="ProductCategoryId" asp-items="Model.ProductCategories" multiple="multiple">
                </select>


                </select>

                <button class="btn btn-primary" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
@section scripts{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">

    <script>
        $(document).ready(function () {
            $('#ProductCategoryId').multiselect({
                includeSelectAllOption: true,
            });
        });
    </script>

}







