@using Business.ViewModels.Admin.OurVision
@model OurVisionIndexVM

@foreach (var ourVision in Model.OurVisions)
{
    <h3>Title</h3>
    <span>@ourVision.Title </span>

    <h3>Description</h3>
    <span>@ourVision.Description</span>

}




